.parceiros {
  background: var(--cor1);
  padding-top: 70px;
  padding-bottom: 120px;
}

.parceiros .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.parceiros ul {
  display: flex;
  gap: 10px;
}
